/* Original fonts:
 * arboria
 * futura-pt
 * ff-good-headline-web-pro-condensed
 * sans-serif
 * circe
 * squarespace-ui-font
 */

/* arboria = Raleway */
/**
 * 400,700
 */
@font-face {
    font-family: 'arboria';
    src: local('Raleway Italic'), local('Raleway-Italic'),
        url('/assets/fonts/all/Raleway-Italic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'arboria';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('/assets/fonts/all/Raleway-Bold.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'arboria';
    src: local('Raleway'), local('Raleway-Regular'),
        url('/assets/fonts/all/Raleway-Regular.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arboria';
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
        url('/assets/fonts/all/Raleway-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


/* futura-pt = Raleway */
/**
 * 400,500,600,700,800
 */
@font-face {
    font-family: 'futura-pt';
    src: local('Raleway Italic'), local('Raleway-Italic'),
        url('/assets/fonts/all/Raleway-Italic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
        url('/assets/fonts/all/Raleway-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
        url('/assets/fonts/all/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('/assets/fonts/all/Raleway-Medium.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('/assets/fonts/all/Raleway-Bold.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway'), local('Raleway-Regular'),
        url('/assets/fonts/all/Raleway-Regular.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
        url('/assets/fonts/all/Raleway-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
        url('/assets/fonts/all/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('/assets/fonts/all/Raleway-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'futura-pt';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('/assets/fonts/all/Raleway-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/all/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


/* ff-good-headline-web-pro-condensed = Ubuntu_Condensed */
/**
 * 400,500,900
 */
@font-face {
    font-family: 'ff-good-headline-web-pro-condensed';
    src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
        url('/assets/fonts/all/UbuntuCondensed-Regular.woff2') format('woff2'),
        url('/assets/fonts/all/UbuntuCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	letter-spacing: 0.05em;
}
.button-block, .sqs-block-button {
	letter-spacing: 0.05em;
}

/* circe = Roboto */
/**
 * 400,700,800
 */
@font-face {
    font-family: 'circe';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('/assets/fonts/all/Roboto-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'circe';
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('/assets/fonts/all/Roboto-Italic.woff2') format('woff2'),
        url('/assets/fonts/all/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'circe';
    src: local('Roboto'), local('Roboto-Regular'),
        url('/assets/fonts/all/Roboto-Regular.woff2') format('woff2'),
        url('/assets/fonts/all/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/assets/fonts/all/Roboto-Bold.woff2') format('woff2'),
        url('/assets/fonts/all/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'circe';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('/assets/fonts/all/Roboto-BlackItalic.woff2') format('woff2'),
        url('/assets/fonts/all/Roboto-BlackItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'circe';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('/assets/fonts/all/Roboto-Black.woff2') format('woff2'),
        url('/assets/fonts/all/Roboto-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

